{% extends 'store/navigation.html' %}
{% load static %}

{% block head %}
{{ block.super }}
{% endblock head %}

{% block content %}
{% load widget_tweaks %}
{{ block.super }}

<div class="border-bottom border-5">
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Fairness recommendations System</h1>
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="row py-3">
                        <div class="col-6" style="text-align: end; !important">
                            <label for="id_no_recomend_item" class="col-form-label">No. Recommend Items:</label>
                        </div>
                        <div class="col-auto">
                            <input type="number" class="form-control" id="id_no_recomend_item" name="no_recomend_item">
                        </div>
                    </div>
                    <div class="row py-3">
                        <div class="col-6" style="text-align: end; !important">
                            <label for="id_max_exposure" class="col-form-label">Min Exposure:</label>
                        </div>
                        <div class="col-auto">
                            <input type="number" class="form-control" id="id_max_exposure" name="max_exposure">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" style="background-color: #4f868c;">Recommend</button>
                </form>
            </div>
        </div>
    </section>
</div>

<div class="border-bottom border-5">
    <section class="py-5 text-center container">
        <h2 style="text-align: center;">Interaction History</h2>
        <div class="row">
            {% for interaction in user_interactions %}
            <div class="col-md-3 d-flex align-itemss-stretch" style="margin-bottom: 10px;">
                <div class="card border border-4" style="padding: 12px; width: 100%">
                    <img src="{{ interaction.product.image_url }}" class="card-img-top border border-2"
                    alt="{{ interaction.product.name }}" width="100%" height="225">
                    <h5 class="card-title" style="margin-top: 10px;">{{ interaction.product.name }}</h5>
                    <p>
                        {% if interaction.product.category %}
                        {{ interaction.product.category }}.
                        {% else %}
                        No category available.
                        {% endif %}
                    </p>
                    <p class="card-text">
                        {% if interaction.product.description %}
                        {% if interaction.product.description|length > 30 %}
                        {{ interaction.product.description|slice:":30" }}...
                        {% else %}
                        {{ interaction.product.description }}.
                        {% endif %}
                        {% else %}
                        No description available.
                        {% endif %}
                    </p>
                    <h5>${{ interaction.product.price }}</h5>
                    <a href="{% url 'store:product_detail' interaction.product.id %}" class="btn btn-primary"
                    style="background-color: #4f868c;">View</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 border-endsdas border-5">
            <div class="container">
                <div class="row" style="text-align: center; !important">
                    <h2>Recommendation without Fairness</h2>
                    {% for product, no_recommended in recommended_products_1 %}
                    <div class="col-md-4 d-flex align-itemss-stretch" style="margin-bottom: 10px;">
                        <div class="card border border-4" style="padding: 12px; width: 100%">
                            <img src="{{ product.image_url }}" class="card-img-top border border-2"
                                alt="{{ product.name }}" width="100%" height="225">
                            <h5 class="card-title" style="margin-top: 10px;">{{ product.name }}</h5>
                            <p>
                                {% if product.category|length == 0 %}
                                No category available.
                                {% elif product.category|length > 30 %}
                                {{ product.category|slice:":30" }}...
                                {% else %}
                                {{ product.category }}.
                                {% endif %}
                            </p>
                            <p> Recommended: {{ no_recommended }} </p>
                            <a href="{% url 'store:product_detail' product.id %}" class="btn btn-primary"
                                style="background-color: #4f868c;">View</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="container">
                <div class="row" style="text-align: center; !important">
                    <h2>Recommendation with Fairness</h2>
                    {% for product, no_recommended in recommended_products_2 %}
                    <div class="col-md-4 d-flex align-itemss-stretch" style="margin-bottom: 10px;">
                        <div class="card border border-4" style="padding: 12px; width: 100%">
                            <img src="{{ product.image_url }}" class="card-img-top border border-2"
                                alt="{{ product.name }}" width="100%" height="225">
                            <h5 class="card-title" style="margin-top: 10px;">{{ product.name }}</h5>
                            <p>
                                {% if product.category|length == 0 %}
                                No category available.
                                {% elif product.category|length > 30 %}
                                {{ product.category|slice:":30" }}...
                                {% else %}
                                {{ product.category }}.
                                {% endif %}
                            </p>
                            <p> Recommended: {{ no_recommended }} </p>
                            <a href="{% url 'store:product_detail' product.id %}" class="btn btn-primary"
                                style="background-color: #4f868c;">View</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
