{% extends 'store/navigation.html' %}

{% load static %}

{% block head %}
{{ block.super }}

{% endblock head %}

{% block content %}
{{ block.super }}
<div class="container">
    <div class="row">
        <div class="col">
            <img src="{{ product.image_url }}" class="card-img-top border border-2" alt="{{ product.name }}"
                width="100%">
        </div>
        <div class="col">
            <h5 class="card-title">{{ product.name }}</h5>
            <p> Name: {{ product.category }}</p>
            <p class="card-text">
                Description:
                {% if product.description|length == 0 %}
                No description available.
                {% else %}
                {{ product.description }}
                {% endif %}
            </p>
            <p> Number of Interations: {{ number_of_interactions }}</p>
            <h5> Price: ${{ product.price }}</h5>
        </div>
    </div>
</div>
{% endblock content %}
