{% extends 'store/navigation.html' %}

{% load static %}

{% block head %}
  {{ block.super }}
{% endblock %}

{% block content %}
  {{ block.super }}
  <div class="container">
    <div class="row">
      <h1 class="text-center my-5">Items List</h1>
      {% for product, no_interactions in products %}
        <div class="d-flex col-lg-3 col-md-4 col-sm-6 mb-4 px-3">
          <div class="card rounded-3 p-3">
            <img src="{{ product.image_url }}" alt="{{ product.name }}" class="card-img-top mb-2 img-fluid rounded-2 w-100" />
            <div class="card-body p-2">
              <h6 class="card-title text-truncate">{{ product.name }}</h6>
              <p class="text-truncate small">
                {% if product.category|length == 0 %}
                  No Category Yet
                {% else %}
                  {{ product.category }}
                {% endif %}
              </p>
              <hr />
              <p class="card-text text-truncate">
                {% if product.description|length == 0 %}
                  No description yet.
                {% else %}
                  {{ product.description }}.
                {% endif %}
              </p>
              <p class="small">No. Interactions: {{ no_interactions }}</p>
              <hr />
              <div class="d-flex justify-content-between align-items-center">
                <a href="{% url 'store:product_detail' product.id %}" class="btn btn-outline-dark rounded-pill w-50">View</a>
                <p class="mb-0">${{ product.price }}</p>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
