{% extends 'store/navigation.html' %}

{% load static %}

{% block head %}
{{ block.super }}

{% endblock head %}

{% block content %}
{{ block.super }}
<div class="container">
    <div class="row">
        {% for product, no_interactions in products %}
        <div class="col-md-3 d-flex align-itemss-stretch" style="margin-bottom: 10px;">
            <div class="card border border-4" style="padding: 12px; width: 100%">
                <img src="{{ product.image_url }}" class="card-img-top border border-2" alt="{{ product.name }}"
                    width="100%" height="225">
                <h5 class="card-title" style="margin-top: 10px;">{{ product.name }}</h5>
                <p>
                    {% if product.category|length == 0 %}
                    No category available.
                    {% elif product.category|length > 30 %}
                    {{ product.category|slice:":30" }}...
                    {% else %}
                    {{ product.category }}.
                    {% endif %}
                </p>
                <p class="card-text">
                    {% if product.description|length == 0 %}
                    No description available.
                    {% elif product.description|length > 30 %}
                    {{ product.description|slice:":30" }}...
                    {% else %}
                    {{ product.description }}.
                    {% endif %}
                </p>
                <p> No I

                    nteractions: {{ no_interactions }} </p>
                <h5>${{ product.price }}</h5>
                <a href="{% url 'store:product_detail' product.id %}" class="btn btn-primary"
                    style="background-color: #4f868c;">View</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
